extends pageFiveTemplate.pug

script.
    let user =;

block content
    form(method="POST" action="http://localhost:3000/become-angel" + user.userName)
        input(type="text" name="streetAddress" id="streetaddress" placeholder="Street Address*" required)
        input(type="text" name="city" id="city" placeholder="City*" required)
        input(type="text" name="state" id="state" placeholder="State*" required)
        input(type="text" name="zip" id="zip" placeholder="Zip*" required)
        button(id="nextButton" type="submit") Next