extends pageFiveTemplate.pug

script.
    let user =;

block content
    form(method="POST" action="http://localhost:3000/become-angel" + user.userName)
        ul
        input(type="text" name="references" id="references" placeholder="Reference Name*" required)
        button(id="addRefButton") Add Another Reference
        button(id="createAccountButton" type="submit") Create Account