doctype
html
    head
        meta(charset="utf-8")
        title Borrow My Angel

    body
        div(class="phone")
            div(class="screen")
                h2 Borrow My Angel
                    block content
