extends pageFiveTemplate.pug

script.
    let user =;

block content
    form(method="POST" action="http://localhost:3000/become-angel" + user.userName)
        input(type="text" name="reasonWhy" id="reasonWhy" placeholder="Reasons for applying*" required)
        input(type="text" name="experienceCrisis" id="experiencecrisis" placeholder="Experience with crisis*" required)
        input(type="text" name="experienceVolunteer" id="experiencevolunteer" placeholder="Experience volunteering*" required)
        button(id="nextButton" type="submit") Next